body{
  background :black;
  font-family: 'Inconsolata', monospace;
  color: white;
  
}

.nav-items {
  display:flex;
  list-style: none;
  cursor: pointer;

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(9, 8, 9);
  
}

.nav-items >li {
  padding: 30px;
}

.img {
  width: 50px;
}

.header{
  align-items: center;
}

h1 {
  display: flex;
}

.nav > h1 {
  padding-right: 35rem;
}
.header{
  color: rgb(52, 52, 238);
}


